name: Test

on:
  push:
    branches:
      - '**'
    tags-ignore:
      - '**'

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Clone repo
        uses: actions/checkout@v2

      - name: Backup oodle_bindings.rs
        run: mv lib/oodle_bindings.rs .

      - name: Clone lib repo
        uses: actions/checkout@v2
        with:
          repository: PowerBall253/lib
          token: ${{ secrets.ACCESS_TOKEN }}
          path: lib

      - name: Restore oodle_bindings.rs
        run: mv oodle_bindings.rs lib/

      - name: Switch to Rust nightly
        run: rustup default nightly

      - name: Build
        run: cargo build --release --verbose

      - name: Upload artifact
        if: ${{ matrix.os == 'windows-latest' }}
        uses: actions/upload-artifact@v3
        with:
          name: ${{ matrix.os }}
          path: ${{ github.workspace }}\target\release\auto_heckin_texture_converter.exe

      - name: Upload artifact
        if: ${{ matrix.os != 'windows-latest' }}
        uses: actions/upload-artifact@v3
        with:
          name: ${{ matrix.os }}
          path: ${{ github.workspace }}/target/release/auto_heckin_texture_converter

      - name: Test
        run: cargo test --verbose
